/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101010;
}
h1 {
    color: rgba(255, 255, 255, 0.85);
    font-size: 50px;
}

p {
    color: rgba(255, 255, 255, 0.85);
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

}
li {
    color: rgba(255, 255, 255, 0.85);
    font-size: 30px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
object {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
.websiteTitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.85); /* You can choose your preferred color */
    margin-bottom: 20px;
}
.Resume {
    font-size: 100px;
    
    
}
.Activities {
    font-size: 100px;
}
.Skills {
    font-size: 100px;
}
.Contact {
    font-size: 100px;
}

div {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.85); /* You can choose your preferred color */
    margin-bottom: 10px;
}
